<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  <body class="">
    <div class="wrapper">
        {{ partial "header" . }}
    	 <main class="main">
          <div class="container">

          {{ if (gt .WordCount 400 ) }}
          <div class="post-toc-wrapper">
            <aside class="post-toc">
                <header>
                        <h2>{{.Title}}</h2>
                </header>
                {{ .TableOfContents }}
            </aside>
          </div>
          {{ end }}

      		{{ block "content" . }}{{ end }}
          </div>
		   </main>
      {{ partial "footer.html" . }}
     </div>
  </body>
</html>
