// ==============================
// Custom style
// ==============================
// You can override the variables in _variables.scss to customize the style
.post-warp {
    max-width: 900px;
    .post-copyright {
        border-bottom: none;
    }
    .post-content img{
        max-width: 100%;
    }
}